## Ignore Visual Studio Temporary Files and Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
binstmp/
bin/
obj/
_ReSharper*/
[Tt]est[Rr]esult*/
[Bb]uildLog.NetFiles
[Qq]uick[Cc]ookies.xml

# Visual Studio 2015/2017/2019/2022 cache directory
.vs/

# Zip files
*.zip

# SQL Server files
*.mdf
*.ldf
*.sdf

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Mono Class Library
*.suo
*.userprefs
*.usertasks
